@use "./variables"; // Import variables

// General Styles
body {
  font-family: variables.$font-body;
  background-color: variables.$background;
  color: variables.$neutral;
}

// Header Styling
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  gap: 124px;
  background: variables.$primary; // Navy Blue
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  h1 {
    color: variables.$secondary; // Light Beige
    font-family: variables.$font-heading;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin: 0; // Removes any default margin
  }

  .menu-icon {
    margin-left: auto; // Aligns menu icon to the far right
  }
}

// Buttons
.btn-primary {
  background-color: variables.$blue-button;
  border-color: variables.$blue-button;

  &:hover {
    background-color: darken(variables.$blue-button, 10%);
  }
}

.btn-secondary {
  background-color: variables.$accent;
  border-color: variables.$accent;

  &:hover {
    background-color: variables.$hover-green;
  }
}

// Responsive header
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
}
