@use "./variables" as vars;
@use "sass:color"; // Import the color module for color.adjust()

@mixin footer {
  footer {
    background-color: vars.$primary;
    color: vars.$secondary;
    text-align: center;
    padding: vars.$spacing-sm;
    font-size: 0.875rem;

    a {
      color: vars.$accent;
      text-decoration: none;

      &:hover {
        color: color.adjust(
          vars.$accent,
          $lightness: 10%
        ); // Use color.adjust instead of lighten
      }
    }
  }
}
