@use "../variables"; // Import variables for consistent styling

/* Login Page Styling */
.login-form {
  margin: 0 auto;
  max-width: 500px;
  padding: 2rem;
  background-color: variables.$theme-background;
  border: 1px solid variables.$theme-neutral-light;
  border-radius: variables.$theme-border-radius;
  box-shadow: variables.$theme-shadow-sm;

  h1 {
    font-family: variables.$theme-font-heading;
    color: variables.$theme-primary;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: variables.$theme-font-body;
    color: variables.$theme-neutral;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-family: variables.$theme-font-body;
    border: 1px solid variables.$theme-neutral-light;
    border-radius: variables.$theme-border-radius;
    box-sizing: border-box;
  }

  button {
    background-color: variables.$theme-accent;
    color: variables.$theme-secondary;
    font-size: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: variables.$theme-border-radius;
    cursor: pointer;

    &:hover {
      background-color: variables.$theme-hover-green;
    }
  }

  p {
    font-family: variables.$theme-font-body;
    font-size: 0.9rem;
    color: variables.$theme-neutral;

    a {
      color: variables.$theme-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
