@use "../variables"; // Import variables for consistent styling

.header {
  position: relative; /* Make the header a reference point for the menu */
  background-color: variables.$theme-primary;
  color: variables.$theme-secondary;
  padding: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-family: variables.$theme-font-heading;
    font-size: 1.5rem;
    color: variables.$theme-secondary;
    text-decoration: none;
  }

  .menu-icon {
    button {
      background: none;
      border: none;
      color: variables.$theme-secondary;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: variables.$theme-accent;
      }
    }
  }

  .navbar-menu {
    position: absolute;
    top: 100%; /* Start just below the header */
    left: 0;
    right: 0;
    background-color: variables.$theme-primary;
    box-shadow: variables.$theme-shadow-lg; /* Add shadow for small screens */
    padding: 1rem;
    overflow: hidden;
    max-height: 0; /* Hide menu initially */
    transform: translateY(-10px); /* Slide-up effect initially */
    opacity: 0; /* Make it invisible initially */
    transition: max-height 0.3s ease, transform 0.3s ease, opacity 0.3s ease;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          display: block;
          color: variables.$theme-secondary;
          text-decoration: none;
          font-family: variables.$theme-font-body;

          &:hover {
            color: variables.$theme-accent;
          }
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }

    &.active {
      max-height: 300px; /* Adjust this value based on menu content */
      transform: translateY(0); /* Slide down */
      opacity: 1; /* Make it visible */
    }
  }

  @media (min-width: variables.$theme-breakpoint-md) {
    .menu-icon {
      display: none; /* Hide hamburger button on larger screens */
    }

    .navbar-menu {
      display: flex;
      position: static;
      transform: none;
      opacity: 1;
      max-height: none;
      padding: 0;
      box-shadow: none; /* Remove shadow on larger screens */
      transition: none;

      ul {
        display: flex;
        gap: 1.5rem;

        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
