@use "../variables";

.header {
  position: relative; /* Ensure it stays at the top */
  background-color: variables.$theme-primary;
  color: variables.$theme-secondary;
  padding: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-family: variables.$theme-font-heading;
    font-size: 1.5rem;
    color: variables.$theme-secondary;
    text-decoration: none;
  }

  .menu-icon {
    button {
      background: none;
      border: none;
      color: variables.$theme-secondary;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: variables.$theme-accent;
      }
    }
  }

  .navbar-menu {
    position: absolute;
    top: 100%; /* Position below the header */
    left: 0;
    right: 0;
    background-color: variables.$theme-primary;
    padding: 1rem;
    transform: translateY(-20px); /* Slide-up effect initially */
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 1rem;

        a {
          display: block;
          color: variables.$theme-secondary;
          text-decoration: none;

          &:hover {
            color: variables.$theme-accent;
          }
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }

    &.active {
      transform: translateY(0); /* Slide down */
      opacity: 1;
      visibility: visible;
    }
  }

  @media (min-width: variables.$theme-breakpoint-md) {
    .menu-icon {
      display: none; /* Hide hamburger on larger screens */
    }

    .navbar-menu {
      display: flex;
      position: static;
      transform: none;
      opacity: 1;
      visibility: visible;
      padding: 0;

      ul {
        display: flex;
        gap: 1.5rem;

        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
