@use "../variables";

.header {
  background-color: variables.$theme-primary;
  color: variables.$theme-secondary;
  padding: 1rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    button {
      background: none;
      border: none;
      color: variables.$theme-secondary;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: variables.$theme-accent;
      }
    }
  }

  .navbar-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: variables.$theme-primary;
    padding: 1rem;
    box-shadow: variables.$theme-shadow-lg;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          color: variables.$theme-secondary;

          &:hover {
            color: variables.$theme-accent;
          }
        }
      }
    }

    &.active {
      display: block; /* Show menu when active */
    }
  }

  @media (min-width: variables.$theme-breakpoint-md) {
    .menu-icon {
      display: none; /* Hide Hamburger icon on large screens */
    }

    .navbar-menu {
      display: flex;
      position: static;
      box-shadow: none;
      ul {
        display: flex;
        gap: 1rem;
        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
