<header class="header">
  <div class="container">
    <a href="../../src/home/index.html" class="logo">Velorum</a>

    <div class="menu-icon">
      <button aria-label="Toggle navigation menu" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <nav class="navbar-menu">
      <ul>
        <li>
          <a href="../../src/home/index.html"
            ><i class="fas fa-home"></i> Home</a
          >
        </li>
        <li>
          <a href="../../src/listings/listings.html"
            ><i class="fas fa-gavel"></i> View Listings</a
          >
        </li>
        <li>
          <a href="../../src/auth/login.html" class="btn btn-secondary"
            >Sign In</a
          >
        </li>
        <li>
          <a href="../../src/auth/register.html" class="btn btn-primary"
            >Register</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
