<header class="header">
  <div class="container">
    <!-- Logo -->
    <a href="../home/index.html" class="logo">Velorum</a>

    <!-- Hamburger Menu -->
    <div class="menu-icon">
      <button aria-label="Toggle navigation menu" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <!-- Navigation Menu -->
    <nav class="navbar-menu">
      <ul>
        <li>
          <a href="../home/index.html"> <i class="fas fa-home"></i> Home </a>
        </li>
        <li>
          <a href="../listings/listings.html">
            <i class="fas fa-gavel"></i> View Listings
          </a>
        </li>
        <li>
          <a href="#"> <i class="fas fa-bell"></i> Notifications </a>
        </li>
        <li>
          <a href="../profile/profile.html">
            <i class="fas fa-user"></i> Profile
          </a>
        </li>
        <li>
          <a href="#"> <i class="fas fa-sign-out-alt"></i> Sign Out </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
